<!DOCTYPE html>
<html>
	<head>
		<base href="/wms/html/" />
		<meta charset="utf-8">
		<title>出货管理</title>
		<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
	</head>
	<body>
		<div id="app">
			<el-container>
				<el-header>
					<el-row type="flex" justify="space-between">
						<el-col :span="6">
							<i class="el-icon-box">仓库管理系统 </i>
						</el-col>
						<el-col :span="4">
							<el-menu mode="horizontal" @select="handleSelect" v-if="!isLogin">
								<el-menu-item index="1" @click="signIn">登录</el-menu-item>
								<el-menu-item index="2">
									<el-button type="warning" plain>注册</el-button>
								</el-menu-item>
							</el-menu>
						</el-col>
					</el-row>
				</el-header>
				<el-container>
					<el-aside width="200px">
						<el-menu @open="handleOpen" @close="handleClose">
							<el-menu-item index="1" @click="getDeliveryForms">
								<i class="el-icon-document"></i>
								<span slot="title">出货记录</span>
							</el-menu-item>
							<el-menu-item index="2" @click="getDeliveryForm">
								<i class="el-icon-document"></i>
								<span slot="title">出货登记</span>
							</el-menu-item>
						</el-menu>
					</el-aside>
					<el-container>
						<el-main>
							<el-row>
								<el-col :span="12" :offset="6">
									<el-card shadow="hover" v-if="showDeliveryForm">
										<el-form :model="ruleForm" status-icon :rules="rules" ref="ruleForm" label-width="100px">
											<el-form-item label="货物名" prop="productName">
												<el-input type="text" v-model="ruleForm.productName" autocomplete="off"></el-input>
											</el-form-item>
											<el-form-item label="货物数" prop="productNum">
												<el-input type="number" v-model="ruleForm.productNum" autocomplete="off"></el-input>
											</el-form-item>
											<el-form-item>
												<el-button type="primary" @click="submitForm('ruleForm')">出货</el-button>
												<el-button @click="resetForm('ruleForm')">重置</el-button>
											</el-form-item>
										</el-form>
									</el-card>
								</el-col>
								<el-col :span="20" :offset="2">
									<el-card shadow="hover" v-loading="tableLoading" v-if="showDeliveryTable">
										<el-table :data="tableData" stripe style="width: 100%">
											<el-table-column prop="deliveryDate" label="出货日期" width="180">
											</el-table-column>
											<el-table-column prop="product.name" label="货物名" width="180">
											</el-table-column>
											<el-table-column prop="productNum" label="货物数" width="180">
											</el-table-column>
											<el-table-column prop="staff.name" label="登记人">
											</el-table-column>
										</el-table>
									</el-card>
								</el-col>
							</el-row>
						</el-main>
					</el-container>
				</el-container>
			</el-container>
		</div>
	</body>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="https://unpkg.com/element-ui@2.12.0/lib/index.js"></script>
	<script src="https://cdn.bootcss.com/qs/6.8.0/qs.js"></script>
	<script src="https://unpkg.com/axios@0.19.0/dist/axios.min.js"></script>
	<script src="https://unpkg.com/vue-cookies@1.5.12/vue-cookies.js"></script>
	<script type="text/javascript">
		Vue.use({
			install(Vue) {
				Object.defineProperty(Vue.prototype, "$qs", {
					writable: false,
					value: window.Qs
				});
			}
		});
		Vue.use({
			install(Vue) {
				Object.defineProperty(Vue.prototype, "$cookies", {
					value: window.$cookies
				});
			}
		});
		var app = new Vue({
			el: '#app',
			data: function() {
				var checkName = (rule, value, callback) => {
					if (!value) {
						return callback(new Error('货物名不能为空'));
					}
					setTimeout(() => {
						callback();
					}, 1000);
				};
				var checkNum = (rule, value, callback) => {
					if (!value) {
						return callback(new Error('货物数不能为空'));
					}
					setTimeout(() => {
						callback();
					}, 1000);
				};
				return {
					value: true,
					isLogin: true,
					showDeliveryForm: false,
					showDeliveryTable: false,
					identity: this.$cookies.get('identity'),
					ruleForm: {
						productName: '',
						productNum: ''
					},
					rules: {
						productName: [{
							validator: checkName,
							trigger: 'blur'
						}],
						productNum: [{
							validator: checkNum,
							trigger: 'blur'
						}]
					},
					tableData: [],
					tableLoading: true
				};
			},
			methods: {
				handleSelect(key, keyPath) {
					console.log(key, keyPath);
				},
				handleOpen(key, keyPath) {
					console.log(key, keyPath);
				},
				handleClose(key, keyPath) {
					console.log(key, keyPath);
				},
				submitForm(formName) {
					this.$refs[formName].validate((valid) => {
						if (valid) {
							axios.post('/wms/warehouse/delivery', this.$qs.stringify({
									productName: this.$data.ruleForm.productName,
									productNum: this.$data.ruleForm.productNum
								}))
								.then(function(response) {
									console.log(response.data);
									console.log(response.status);
									console.log(response.statusText);
									console.log(response.headers);
									console.log(response.config);
								})
								.catch(function(err) {
									console.log(err)
								});
						} else {
							console.log('error submit!!');
							return false;
						}
					});
				},
				resetForm(formName) {
					this.$refs[formName].resetFields();
				},
				signIn() {
					window.location.href = "/wms/signin";
				},
				getDeliveryForms() {
					app.showDeliveryTable = true;
					app.showDeliveryForm = false;
					axios.get('/wms/warehouse/getDeliveryForms')
						.then(function(response) {
							var res = JSON.parse(response.data);
							app.tableData = res;
							app.tableLoading = false;
						})
						.catch(function(err) {
							console.log(err)
						});
				},
				getDeliveryForm() {
					app.showDeliveryTable = false;
					app.showDeliveryForm = true;
					app.tableLoading = true;
				}
			}
		});
		var identity = app.identity;
		axios.get('/wms/' + identity + '/islogin')
			.then(function(response) {
				var res = JSON.parse(response.data);
				if (res != null) {
					app.isLogin = true;
				} else {
					app.isLogin = false;
				}
			})
			.catch(function(err) {
				console.log(err)
			});
	</script>

</html>
