<!DOCTYPE html>
<html>
	<head>
		<base href="/wms/html/" />
		<meta charset="utf-8">
		<title>首页</title>
		<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
	</head>
	<body>
		<div id="app">
			<el-container>
				<el-header class="wms-header">
					<el-row type="flex" justify="space-between">
						<el-col :span="6">
							<el-link class="wms-logo" icon="el-icon-box" href="/wms/welcome">仓库管理系统</el-link>
						</el-col>
						<el-col :span="4" v-if="!isLogin">
							<el-menu mode="horizontal">
								<el-menu-item index="1" @click="signIn">登录</el-menu-item>
								<el-menu-item index="2">
									<el-button type="warning" plain @click="signUp">注册</el-button>
								</el-menu-item>
							</el-menu>
						</el-col>
						<el-col :span="3" v-if="isLogin">
							<el-menu mode="horizontal" class="wms-emnu">
								<el-submenu index="1">
									<template slot="title">
										<i class="el-icon-user-solid"></i>
										用户中心
									</template>
									<el-menu-item index="1-1" @click="logout">退出登录</el-menu-item>
								</el-submenu>
							</el-menu>
						</el-col>
					</el-row>
				</el-header>
				<el-main>
					<el-row :gutter="20">
						<transition appear appear-class="custom-appear-class" appear-to-class="custom-appear-to-class"
						 appear-active-class="custom-appear-active-class">
							<el-col :span="6" v-if="identity == 'staff'">
								<el-card class="wms-option-card" shadow="hover">
									<el-link class="wms-nav" href="/wms/stock">进货管理</el-link>
								</el-card>
							</el-col>
						</transition>
						<transition appear appear-class="custom-appear-class" appear-to-class="custom-appear-to-class"
						 appear-active-class="custom-appear-active-class">
							<el-col :span="6" v-if="identity == 'staff'">
								<el-card class="wms-option-card" shadow="hover">
									<el-link class="wms-nav" href="/wms/delivery">出货管理</el-link>
								</el-card>
							</el-col>
						</transition>
						<transition appear appear-class="custom-appear-class" appear-to-class="custom-appear-to-class"
						 appear-active-class="custom-appear-active-class">
							<el-col :span="6" v-if="identity == 'staff' || identity == 'borrower'">
								<el-card class="wms-option-card" shadow="hover">
									<el-link class="wms-nav" href="/wms/borrow">借货管理</el-link>
								</el-card>
							</el-col>
						</transition>
						<transition appear appear-class="custom-appear-class" appear-to-class="custom-appear-to-class"
						 appear-active-class="custom-appear-active-class">
							<el-col :span="6" v-if="identity == 'staff'">
								<el-card class="wms-option-card" shadow="hover">
									<el-link class="wms-nav" href="/wms/warehouse">仓库管理</el-link>
								</el-card>
							</el-col>
						</transition>
					</el-row>
				</el-main>
			</el-container>
		</div>
	</body>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="https://unpkg.com/element-ui@2.12.0/lib/index.js"></script>
	<script src="https://cdn.bootcss.com/qs/6.8.0/qs.js"></script>
	<script src="https://unpkg.com/axios@0.19.0/dist/axios.min.js"></script>
	<script src="https://unpkg.com/vue-cookies@1.5.12/vue-cookies.js"></script>
	<script type="text/javascript">
		Vue.use({
			install(Vue) {
				Object.defineProperty(Vue.prototype, "$cookies", {
					value: window.$cookies
				});
			}
		});
		var app = new Vue({
			el: '#app',
			data: function() {
				return {
					identity: this.$cookies.get('identity'),
					isLogin: true
				}
			},
			methods: {
				signIn() {
					window.location.href = "/wms/signin";
				},
				signUp() {
					window.location.href = "/wms/signup";
				},
				logout() {
					this.$cookies.set('identity', null);
					window.location.href = '/wms/logout';
				}
			}
		});
		var identity = app.identity;
		if (identity != 'null') {
			axios.get('/wms/' + identity + '/islogin')
				.then(function(response) {
					var res = JSON.parse(response.data);
					app.isLogin = res;
				})
				.catch(function(err) {
					console.log(err)
				});
		}else{
			app.isLogin = false;
		}
	</script>
	<style>
		.custom-appear-class {
			opacity: 0
		}

		.custom-appear-active-class {
			transition: opacity 2s;
		}

		.custom-appear-to-class {
			opacity: 1
		}
		
		
		.wms-header{
			border-bottom: 1px #e6e6e6 solid;
		}
		.wms-logo{
			font-size: 30px;
			line-height: 60px;
		}
		.wms-nav{
			display: block;
			font-size: 1.25rem;
			line-height: 3.125rem;
			height: 3.125rem;
		}
		.wms-option-card{
			text-align: center;
			margin-bottom: 10px;
		}
	</style>
</html>
