<!DOCTYPE html>
<html>
	<head>
		<base href="/wms/html/" />
		<meta charset="utf-8">
		<title>进货管理</title>
		<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
	</head>
	<body>
		<div id="app">
			<el-container>
				<el-header class="wms-header">
					<el-row type="flex" justify="space-between">
						<el-col :span="6">
							<el-link class="wms-logo" icon="el-icon-box" href="/wms/welcome">仓库管理系统</el-link>
						</el-col>
						<el-col :span="4" v-if="!isLogin">
							<el-menu mode="horizontal">
								<el-menu-item index="1" @click="signIn">登录</el-menu-item>
								<el-menu-item index="2">
									<el-button type="warning" plain @click="signUp">注册</el-button>
								</el-menu-item>
							</el-menu>
						</el-col>
						<el-col :span="3" v-if="isLogin">
							<el-menu mode="horizontal">
								<el-submenu index="1">
								    <template slot="title">
										<i class="el-icon-user-solid"></i>
										用户中心
									</template>
								    <el-menu-item index="1-1" @click="logout">退出登录</el-menu-item>
								  </el-submenu>
							</el-menu>
						</el-col>
					</el-row>
				</el-header>
				<el-container>
					<el-aside width="200px"  class="wms-aside">
						<el-menu>
							<el-menu-item index="1" @click="getStockForms">
								<i class="el-icon-document"></i>
								<span slot="title">进货记录</span>
							</el-menu-item>
							<el-menu-item index="2" @click="getStockForm">
								<i class="el-icon-document"></i>
								<span slot="title">进货登记</span>
							</el-menu-item>
						</el-menu>
					</el-aside>
					<el-container>
						<el-main>
							<el-row>
								<el-col :span="12" :offset="6">
									<el-card  shadow="hover" v-if="showStockForm">
										<el-form :model="ruleForm" status-icon :rules="rules" ref="ruleForm" label-width="100px">
											<el-form-item label="货物名" prop="productName">
												<el-input type="text" v-model="ruleForm.productName" autocomplete="off"></el-input>
											</el-form-item>
											<el-form-item label="货物数" prop="productNum">
												<el-input type="number" v-model="ruleForm.productNum" autocomplete="off"></el-input>
											</el-form-item>
											<el-form-item>
												<el-button type="primary" @click="submitForm('ruleForm')">进货</el-button>
												<el-button @click="resetForm('ruleForm')">重置</el-button>
											</el-form-item>
										</el-form>
									</el-card>
								</el-col>
								<el-col :span="20" :offset="2">
									<el-card  shadow="hover" v-loading="tableLoading" v-if="showStockTable">
										<el-table :data="tableData" stripe style="width: 100%">
											<el-table-column prop="stockDate" label="进货日期" width="180">
											</el-table-column>
											<el-table-column prop="product.name" label="货物名" width="180">
											</el-table-column>
											<el-table-column prop="productNum" label="货物数" width="180">
											</el-table-column>
											<el-table-column prop="staff.name" label="登记人">
											</el-table-column>
										</el-table>
									</el-card>
								</el-col>
							</el-row>
						</el-main>
					</el-container>
				</el-container>
			</el-container>
		</div>
	</body>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="https://unpkg.com/element-ui@2.12.0/lib/index.js"></script>
	<script src="https://cdn.bootcss.com/qs/6.8.0/qs.js"></script>
	<script src="https://unpkg.com/axios@0.19.0/dist/axios.min.js"></script>
	<script src="https://unpkg.com/vue-cookies@1.5.12/vue-cookies.js"></script>
	<script type="text/javascript">
		Vue.use({
			install(Vue) {
				Object.defineProperty(Vue.prototype, "$qs", {
					writable: false,
					value: window.Qs
				});
			}
		});
		Vue.use({
			install(Vue) {
				Object.defineProperty(Vue.prototype, "$cookies", {
					value: window.$cookies
				});
			}
		});
		var app = new Vue({
			el: '#app',
			data: function() {
				var checkName = (rule, value, callback) => {
					if (!value) {
						return callback(new Error('货物名不能为空'));
					}
					setTimeout(() => {
						callback();
					}, 1000);
				};
				var checkNum = (rule, value, callback) => {
					if (!value) {
						return callback(new Error('货物数不能为空'));
					}
					setTimeout(() => {
						callback();
					}, 1000);
				};
				return {
					value: true,
					isLogin: true,
					showStockForm: false,
					showStockTable: false,
					identity: this.$cookies.get('identity'),
					ruleForm: {
						productName: '',
						productNum: ''
					},
					rules: {
						productName: [{
							validator: checkName,
							trigger: 'blur'
						}],
						productNum: [{
							validator: checkNum,
							trigger: 'blur'
						}]
					},
					tableData: [],
					tableLoading: true
				};
			},
			methods: {
				submitForm(formName) {
					this.$refs[formName].validate((valid) => {
						if (valid) {
							axios.post('/wms/warehouse/stock', this.$qs.stringify({
									productName: this.$data.ruleForm.productName,
									productNum: this.$data.ruleForm.productNum
								}))
								.then(function(response) {
									var res = JSON.parse(response.data);
									if(res !== null){
										app.$refs[formName].resetFields();
										app.$notify({
											title: '成功',
											message: '进货登记成功',
											type: 'success',
											position: 'bottom-right'
										});
									}else{
										app.$refs[formName].resetFields();
										app.$notify({
											title: '错误',
											message: '进货登记失败',
											type: 'error',
											position: 'bottom-right'
										});
									}
								})
								.catch(function(err) {
									app.$notify({
										title: '警告',
										message: '网络连接异常',
										type: 'warning',
										position: 'bottom-right'
									});
								});
						} else {
							app.$notify({
								title: '错误',
								message: '进货登记单信息填写错误',
								type: 'error',
								position: 'bottom-right'
							});
							return false;
						}
					});
				},
				resetForm(formName) {
					this.$refs[formName].resetFields();
				},
				signIn() {
					window.location.href = "/wms/signin";
				},
				signUp() {
					window.location.href = "/wms/signup";
				},
				logout(){
					this.$cookies.set('identity', null);
					window.location.href = '/wms/logout';
				},
				getStockForms(){
					app.showStockTable = true;
					app.showStockForm = false;
					axios.get('/wms/warehouse/getStockForms')
						.then(function(response) {
							var res = JSON.parse(response.data);
							app.tableData = res;
							app.tableLoading = false;
						})
						.catch(function(err) {
							console.log(err)
						});
				},
				getStockForm(){
					app.showStockTable = false;
					app.showStockForm = true;
					app.tableLoading = true;
				}
			}
		});
		var identity = app.identity;
		if (identity != 'null') {
			axios.get('/wms/' + identity + '/islogin')
				.then(function(response) {
					var res = JSON.parse(response.data);
					app.isLogin = res;
				})
				.catch(function(err) {
					console.log(err)
				});
		}else{
			app.isLogin = false;
		}
	</script>
	<style>
		.wms-header{
			border-bottom: 1px #e6e6e6 solid;
		}
		.wms-logo{
			font-size: 30px;
			line-height: 60px;
		}
		.wms-aside{
			height: 400px;
		}
	</style>
</html>
